<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <authentication mode="None"/>
  </system.web>
  <connectionStrings>
    <add name="QLTS_LGE" connectionString="user id=LGE;password=lge@123;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.221.191.21)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=VHDEV)))" providerName="System.Data.OracleClient"/>
    <add name="QLTS_DB" connectionString="user id=dovanan;password=Lgevh201909;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.224.50.222)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=QLTS)))" providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>